body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}
.box {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: rgb(16, 16, 16);
    width: 100%;
    max-width: 300px; 
}
input {
    font-size: 18px;
    padding: 7px;
    border-radius: 9px;
    width: calc(100% - 20px); 
    margin-bottom: 15px;
    box-sizing: border-box;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button-container div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.button-container button {
    font-size: 20px;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: none;
    width: 20%;
    height: 50px;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    .box {
        width: 90%;
    }
    .button-container button {
        font-size: 18px;
        padding: 5px;
        margin: 2px;
        width: 22%; 
        height: 45px;
    }
}